/* Gadwl */
.home div#share_channel{clear:both;display:block;margin-top:5px!important;border-radius:30px;height:48px;width:100%;margin:0 auto}
.home .a4h_live_matches_embed_outer{display:flex;flex-wrap:wrap;align-items:center;padding:2px!important;background:#504e4f;color:#fff;width:100%;margin:10px auto 0;border-radius:2px}
.a4h_live_matches_embed_outer label{display:block;margin:0;white-space:nowrap;flex-basis:135px;font-size:13px;padding-right:9px}
.a4h_live_matches_embed_outer div{flex-grow:1}
.form-control{display:block;width:100%;padding:.375rem .75rem!important;font-size:12px;line-height:1.2;color:#55595c;background-color:#fff;background-image:none;border-radius:30px;white-space:pre-wrap;overflow:hidden;direction:ltr;text-align:left;resize:none;max-height:4em;box-sizing:border-box;border:0}
.box-title { margin-bottom: 12px; overflow: hidden;}
.box-title .title{margin: 12px; border-radius:7px; font-size: 15px; background:$(keycolor); float: right; padding: 0 10px; color: #fff; line-height: 28px; height: 30px; text-align: center; box-shadow: 0 0 2px rgba(0,0,0,0.3); font-weight: 500; }
ul.match br,#sit{display:none}
.expired a,.underway a{color:#Fff}
.yalla-match{padding-bottom:0;display:grid;width:100%}
.yalla-matchh{padding:10px;background-color:#fff;margin-bottom:10px;padding-bottom:0}
.match { border: 1px solid #ccc; width: 100%; float: right; margin-bottom: 10px; position: relative; background-color: #eaeaea; overflow: hidden; padding: 9px; border-radius: 8px;}
.match h3{padding:20px;text-align:center}
#today{display:grid;width:100%}
.match a{cursor:pointer}
.match-center{margin-bottom:10px}
.tablinks{display:block;width:33.33%;text-align:center;float:right;line-height:45px;height:45px;color:#0f4583;font-size:18px;cursor:pointer;background-color:#ffffff}
.tablinks.active{background-color:#0c3f79;color:#fff}
.yalla-match h2.title{display:none}
#multitab_events{overflow:hidden;display:block;width:100%;background-color:#153d74;float:right;margin-bottom:10px;height:45px;line-height:45px;padding:0 10px;color:#fff}
#multitab_events h2,#multitab_events h1{float:right}
#wdbloogeladate{float:left;background:#b40f03;color:#fff;font-size:18px;display:inline-block;padding:0 15px 0 10px;margin:0;position:relative;line-height:35px;font-weight:normal;font-family:tahoma}
#wdbloogeladate:before{right:-15px;transform:skew(33deg);content:"";display:block;position:absolute;top:0;bottom:0;width:26px;background-color:#b40f03}
.meeting .team { width: calc((100% - 25%) / 2); float: right; text-align: center; height: 75px; }
.meeting .team li { font-size: 17px; width: 80%; line-height: 70px; text-align: center; font-weight: bold; color: #535353; }
.meeting .team .logo { width: 20%; float: left; }
.stay.stsrt { color: #fff !important; background: rgba(41, 41, 41, 0.71); border: 1px solid #434758; height: 38px; padding: 0 15px; line-height: 35px; font-weight: bold !important; margin-top: 3px; display: flex; align-items: center; border-radius: 3px; }
.expired { font-weight: bold !important; }
.team.right .logo{float:right}
.meeting .team .logo img { display: block; margin: 3px auto; width: 60px; height: 60px; float: none; padding: 3px; border-radius: 50%; border: 1px solid #eee; } .match .case { width: 25%; float: right; text-align: center; height: 75px; }
.match .case .result { display: block; font: 22px/28px tahoma; color: #333; float: right; margin: 13px 5%; padding: 5px; width: 15%; position: relative; background: #ccc; border-radius: 3px; }
.match .case .time1{float:right;width:50%;line-height:25px;margin:10px 0;position:relative}
.match:hover .time1{position:initial}
.match .case .time{margin:auto;display:table}
.match .case .time.e:before,.match .case .time.h:before,.match .case .time.m:before{color:#ffffff;line-height:28px;height:28px;margin:11px 0;padding:0 10px;font-size:14px;display:block;background-color:#0088cc}
.date.stay{font-size:15px;font-family:tahoma;color:#08c;font-weight:700}
.stay.stsrt{color:#08c}
.stay.stsrt .soon{color:#12970b}
.underway:after{left:-40px;top:14px}
.underway:before{top:14px;right:-41px}
.underway:before,.underway:after{position:absolute;background:url(https://cdn.staticaly.com/img/3.bp.blogspot.com/-gG0NfxpITz8/W4As8rJH1RI/AAAAAAAAC2E/rxHXqZ2ddXA3pWQreE7pfJar8QTc_HAXACLcBGAs/s1600/live.gif);width:25px;height:25px;display:none;content:'';background-size:cover;z-index:9}
ul.meeting  { display: block; overflow: hidden; }
ul.match:hover .stay.stsrt { background: $(keycolor); }
.asdddd { border-top: 1px solid #ccc; overflow: hidden; display: block; background: #eaeaea; margin: 0 -9px -9px -9px; padding: 5px 10px; color: #595959; }
#laasd { float: left; font-weight: bold !important; }
#raasd { float: right; font-weight: bold !important; }
#kemo { font-weight: bold !important; }
.asdddd li{width:33.33333333%;float:right;font-size:14px;font-weight:100;text-align:center}
ul.match *{transition:auto;font:400 13px 'Tajawal'}
ul.match a{color:#000}
.match .info li{text-align:center;font-size:13px;overflow:hidden;height:75px;line-height:100px;z-index:9;background-color:#fff}
.television:before,.trophy:before{line-height:45px;position:absolute;right:42%;font-size:15px;height:20px;width:20px;margin-top:10px;content:''}
.television:before {background: url("data:image/svg+xml;charset=utf8,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='tv-retro' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-tv-retro fa-w-16'%3E%3Cpath fill='%23000' d='M400 244v-8c0-6.6 5.4-12 12-12h8c6.6 0 12 5.4 12 12v8c0 6.6-5.4 12-12 12h-8c-6.6 0-12-5.4-12-12zm12 76h8c6.6 0 12-5.4 12-12v-8c0-6.6-5.4-12-12-12h-8c-6.6 0-12 5.4-12 12v8c0 6.6 5.4 12 12 12zm-36-136.5s-1.5-7.5-144-7.5-144.5 7.5-144.5 7.5S80 184 80 288s7.5 104.5 7.5 104.5S88 400 232 400s144-7.5 144-7.5 7.5-.5 7.5-104.5-7.5-104.5-7.5-104.5zM512 144v288c0 26.5-21.5 48-48 48h-16v32h-48l-10.7-32H122.7L112 512H64v-32H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h140.9l-54-55.2c-9.3-9.5-9.1-24.7.3-33.9 9.5-9.3 24.7-9.1 33.9.3L256 96l86.9-88.8c9.3-9.5 24.5-9.6 33.9-.3 9.5 9.3 9.6 24.5.3 33.9l-54 55.2H464c26.5 0 48 21.5 48 48zm-48 0H48v288h416V144z' class=''%3E%3C/path%3E%3C/svg%3E") center no-repeat;}
.trophy:before {background: url("data:image/svg+xml;charset=utf8,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='trophy' class='svg-inline--fa fa-trophy fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23000' d='M552 64H448V24c0-13.3-10.7-24-24-24H152c-13.3 0-24 10.7-24 24v40H24C10.7 64 0 74.7 0 88v56c0 35.7 22.5 72.4 61.9 100.7 31.5 22.7 69.8 37.1 110 41.7C203.3 338.5 240 360 240 360v72h-48c-35.3 0-64 20.7-64 56v12c0 6.6 5.4 12 12 12h296c6.6 0 12-5.4 12-12v-12c0-35.3-28.7-56-64-56h-48v-72s36.7-21.5 68.1-73.6c40.3-4.6 78.6-19 110-41.7 39.3-28.3 61.9-65 61.9-100.7V88c0-13.3-10.7-24-24-24zM99.3 192.8C74.9 175.2 64 155.6 64 144v-16h64.2c1 32.6 5.8 61.2 12.8 86.2-15.1-5.2-29.2-12.4-41.7-21.4zM512 144c0 16.1-17.7 36.1-35.3 48.8-12.5 9-26.7 16.2-41.8 21.4 7-25 11.8-53.6 12.8-86.2H512v16z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;}
.match .info li.mb.trophy{float:left;width:15%;position:absolute;border-right:solid 1px #e6e6e6;left:0}
.match .info li.mb.television{float:right;width:15%;position:absolute;border-left:solid 1px #e6e6e6}
li.microphone{display:none}
.swtay.swtsrt{background:rgba(0,0,0,0.63);position:absolute;top:0;right:0;bottom:0;left:0;display:none;z-index:99}
.match:hover .swtay.swtsrt{display:block}
.dwate.swtay{display:none}
.swtay.swtsrt{color:#fff;font-size:25px;line-height:75px;text-align:center;background:rgba(0,0,0,0.63);position:absolute;top:0;right:0;bottom:0;left:0;z-index:99}
.swtay.swtsrt .soon{background:rgba(10,130,39,0.7)}
.ewxpired{background:rgba(0,135,204,0.59)}
.uwnderway{padding:5px 10px;margin:-5px -10px;background:rgba(255,0,0,0.57)}
#tommorw{display:none}
#yestrday{display:none}
.match:hover .underway:before,.match:hover .soon:before{display:block;content:'شاهد المباراة الان';position:relative;text-align:center;width:100%;background:initial;color:#fff;z-index:99999999;right:0;top:0;font-size:20px}
ul.match li{list-style:none}
.elgadwl,.postscont,.box-text,.posts-bylapel .Label{ padding: 10px; margin-top: 20px; box-shadow: 0 0 2px rgba(0,0,0,.3); background: #fff; border-top: 3px solid $(keycolor);border-radius: 7px;   }
.elgadwl,.box-text { padding: 0 10px; }
.link-l .widget-content { padding: 12px; text-align: justify; margin: 0; line-height: 2.2; overflow: hidden; max-height: 540px; position: relative; }
/* commint */
.comment-thread ol{padding:0}
li.comment{padding:10px 5px 20px;margin:10px 0;border:1px solid #eee;background:#f9f9f9;box-shadow:none!important}
.comment{display:block}
.avatar-image-container{margin-top:2px;margin-right:5px;position:absolute;padding:3px;width:50px;height:50px;border:2px solid #e0e0e0;border-radius:50%;text-align:center}
.avatar-image-container img{border-radius:100%;height:40px;width:40px;background:#eee url(https://4.bp.blogspot.com/-ci3XMoAMGzg/WiCTxCLLWeI/AAAAAAAAPjI/UkV1sBTKC7EamOC_UmMJ4cQCv4xNNI82QCLcBGAs/s1600/log.jpg) no-repeat center;background-size:40px;overflow:hidden}
.comment-header{display:inline-block;overflow:hidden;clear:both;margin-right:65px}
span.datetime,cite.user{display:block;overflow:hidden;clear:both;font-size:13px;float:right}
span.datetime a,cite.user a{color:#666!important;font-weight:normal!important}
.comment-content{padding:15px 15px 13px;font-size:14px;cursor:text;font-weight:100;color:#000;overflow:hidden;border-top:1px solid #dadada}
.comment-actions.secondary-text{width:70%;text-align:right;position:relative;font:normal 11px/20px tahoma;padding-right:5px;display:block;bottom:-3px}
.comment-actions.secondary-text a{padding:0 20px 3px;margin:5px 0;background:#f9f9f9;border:1px solid #d3d3d3}
.comment-actions.secondary-text a{padding:0 20px 3px;margin:5px 0;background:#f9f9f9;border:1px solid #d3d3d3}
span.item-control a{border-radius:30px 30px!important}
.comment-replies{display: none;}
.comment-replies{margin-right:0!important;margin-top:10px!important;margin-bottom:0!important}
.comments .comments-content .inline-thread{padding:0!important}
span.thread-toggle.thread-expanded{display:none}
.comment-replies li.comment:first-of-type{margin-top:20px!important}
.comment-replies li.comment{border:0;padding-bottom:2px;box-shadow:none;padding:0}
.comment-replies li.comment{margin-top:20px!important}
.comment-replybox-single{padding-right:40px;display:block;clear:both;overflow:hidden}
.comment-replies a.comment-reply{display:none}
div#top-continue{display:none}
.loadmore.hidden{display:none}
.comment a{font-family:'Cairo','Segoe UI','Tahoma'}
a.comment-reply{border-radius:0 30px 30px 0;border-left:0!important}
.comment-replies span.item-control a{border-radius:30px!important}
#comment-post-message{font-size:13px;background:#2c82c9;color:#fff;padding:4px 15px;border-radius:1px;display:inline-block}
.comments-tabs-header{margin:10px 0}
.comments-tabs-header h3{display:inline-block;overflow:hidden;background:#504e4f;color:#fff;padding:10px;border-radius:3px;font-weight:bold;margin-bottom:0}
section#comments *{font-family:'Cairo'}
a.comment-reply{display:none}
cite.user{margin-bottom:6px}
 a#shwcommint { background: #212120; margin-right: 5px; border-radius: 4px; font-size: 13px; box-shadow: 1px 1px 2px rgba(0,0,0,0.2); padding: 7px; border: 1px solid #191919; color: #fff; display: table; margin: 0 auto; }
.navbar-brand { float: right; position: relative; margin: 8px 0; padding: 3px 0; border-radius: 4px; background: $(keycolor); }
